@font-face {
  font-family: "atari";
  src: url(fonts/atarismall.ttf);
}


body{
    cursor: url(bee-clr.cur); 
    color: white;
    background: blue;
    text-decoration : none;
    font-family: atari, monospace;
    font-size: 16px;
    /*font-weight: bold;*/
    /*text-align: center; /* for IE */
    /*text-align: left; /* reset text alignment */
    /*width: 720px; /* or a percentage, or whatever */
    /*margin:0 auto; /* for the rest */
}

div.menu a {
    color: blue;
    text-decoration: none;
}

div.menu a:hover {
    color: white;
    background: blue;
}

div.menu span.menulinkscurrent {
    color: white;
    background: blue;
}

div.menu span.menulinkscurrent:before {
    color: white;
    content: ">";
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blue;
    background: white;
}

a:visited {}

a.menulinks:before {
    color: black;
    content: ">";
}


pre {
    font-family: atari, mono;
}

div.menu {
    float: left;
    padding: 0.5em;
    background-color: white;
}


span.header {
    background-color: white;
    color: black
}

span.menuheaders {
    color: white;
    background-color: black;
}

div.content {
    padding-top: 0.5em;
    margin-left: 200px;
}


div.h1 {
    /*margin-top: 2em;*/
}

span.h1 {
    color: black;
    background: white;
}

span.h1:before {
    content: ">";
}


span.tags {
    color: black;
}

div.tags {
    padding-bottom: 1em;
}

img {
    border: 2px solid white;
    float: right;
    margin: 2em;
}

div.post {
    padding-bottom: 2em;
}

div.post:after {
    display: block;
    content: "---";
}

div.footer {
    padding-top: 1em;
}

div.footer:before {
    display: block;
    content: "---";
}
