html 		{ 
		height: 100%; 
		margin:0;
		padding:0;
		}
body 		{ 
		color: #666; 
		text-align: center; 
		margin: 0 0 0 0;
		padding: 0;
		background: #111; 
		height: 100%;
		}
a 		{ 
		color: #AAA; 
		text-decoration: none; 
		}
a:hover 	{ 
		color: #EEE; 
		text-decoration: underline; 
		}
a:visited 	{ 
		}
img		{
		border: 1px solid #666;
		}
div.thumb	{ 
		padding-right: 4px;
		margin: 0px;
		float: left;
		display: block;
		}
.thumb a	{
		}
.thumb a:hover  {
		}
.thumb a .zoom 	{
		display:block;
		position: absolute;
		top: 0px;
		left: 0px;
		width:0px; 
        	height: 0px;
		}
.thumb a:hover .zoom {
		border: 2px solid #EEE;
	      	top: 40px;
	        left: 40px;
		width: 320px; 
		height: 256px; 
		}
div.container 	{ 
		background: #2A2A2A; 
		min-height: 100%;
		width: 80%;
		max-width: 800px;
		overflow: hidden;
		border-left: 2px solid #444; 
		border-right: 2px solid #444;
		padding-right: 12px; 
		padding-left: 12px; 
		margin: 0 auto;
		text-align: left; 
		}
h1		{
		font-family: georgia;
		font-size: 32px;
		font-weight: normal;
		letter-spacing: -2px;
		height: 46px;
		margin: 0;
		padding: 0;
		}
h2              {
                font-family: georgia;
                font-size: 22px;
                font-weight: normal;
                letter-spacing: -2px;
		}
pre 		{ 
		font-family: verdana;  
		font-size: 11px; 
		}
p	        {
                font-family: verdana;
                font-size: 12px;
		}
div.content 	{ 
		margin-left: 120px; 
		padding-left: 20px;
		margin-right: 12px;
		}
div.nav 	{ 
		width: 120px; 
		float: left; 
		margin-left: 10px; 
		}
div.footer 	{ clear: both; 
		position: absolute; 
		bottom: 0; 
		}
